# output
/mqtt1wtemp
/mqttapa102led
/mqttiio
/mqttinputevent
/mqttimport
/mqttled
/mqttlogic
/mqttmaclight
/mqttmotor
/mqttnow
/mqttpoort
/mqttteleruptor
/rpntest
/testpoort
/testteleruptor

# temp
*.o

# environment
/tags
/config.mk
